<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user.date_of_birth %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Friends:</strong>
  <% @user.friends.each_with_index do |friend, index| %>
    <p>
      <span> <%= index + 1%></span>
      <strong>Name:</strong>
      <%= friend.name %>
    </p>
  <% end %>

  <strong> Messages:</strong>
  <% @user.messages.each_with_index do |message, index| %>
    <p>
      <strong>Body:</strong>
      <%= message.body %>
    </p>

    <p>
      <strong>Sender:</strong>
      <%= message.sender.name %>
    </p>

    <p>
      <strong>Receiver:</strong>
      <%= message.receiver.name %>
    </p>
  <% end %>

</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
